
#container {
    margin: auto;
    width: 600px;
    height: 600px;
    border: 3px solid #73AD21;

    display: flex;

    /*flex-wrap: wrap;*/
    /* align-items: center; */
    /* justify-content: center; */
    flex-direction: column;
}

.line {
    display: flex;
    height: 100%;
    min-width: 0;
}

.square {
    flex:1 1 auto;
    border: 1px solid black; 
}

.break {
    flex-basis: 100%;
    height: 0px;
    margin: 0px;
    border: 1px solid red;
    padding: 0;
    overflow: hidden;
}

#container .square, .break{ 
    display: inline-block; 
}

button {
    margin-top: 20px;
    margin-left: 34%;
    border: 3px solid black;

    width: 120px;
    height: 40px;

    background-color: rgb(228, 50, 50);
    /* box-shadow: 0px 5px 20px grey; */
}